<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Hello" %>
    </.live_title>
    <.modern_assets_head />
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
    <.modern_assets_body />
  </body>
</html>
